name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      JOBS: 3
      NGX_BUILD_JOBS: ${{ env.JOBS }}
      LUAJIT_PREFIX: /opt/luajit21
      LUAJIT_LIB: ${{ env.LUAJIT_PREFIX }}/lib
      LUAJIT_INC: ${{ env.LUAJIT_PREFIX }}/include/luajit-2.1
      LUA_INCLUDE_DIR: ${{ env.LUAJIT_INC }}
      OPENSSL_PREFIX: /opt/ssl
      OPENSSL_LIB: ${{ env.OPENSSL_PREFIX }}/lib
      OPENSSL_INC: ${{ env.OPENSSL_PREFIX }}/include
      OPENSSL_VER: 1.1.1f
      LD_LIBRARY_PATH: ${{ env.LUAJIT_LIB }}:$LD_LIBRARY_PATH
      TEST_NGINX_SLEEP: 0.006
      LUACHECK_VER: 0.21.1
      NGINX_VERSION: 1.19.9

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        # Prevent redis from starting
        echo "exit 101" | sudo tee /usr/sbin/policy-rc.d
        sudo chmod +x /usr/sbin/policy-rc.d
        sudo apt-get install -y redis-server luarocks lsof cpanminus axel
        sudo luarocks install luacov
        sudo luarocks install lua-resty-redis
        sudo luarocks install luacheck ${{ env.LUACHECK_VER }}
        luacheck -q .

    - name: Setup build cache
      uses: actions/cache@v4
      with:
        path: download-cache
        key: ${{ runner.os }}-build-cache-${{ hashFiles('**/download-cache/*') }}
        restore-keys: |
          ${{ runner.os }}-build-cache-

    - name: Download and build dependencies
      run: |
        mkdir -p download-cache
        if [ ! -f download-cache/openssl-${{ env.OPENSSL_VER }}.tar.gz ]; then wget -O download-cache/openssl-${{ env.OPENSSL_VER }}.tar.gz https://www.openssl.org/source/openssl-${{ env.OPENSSL_VER }}.tar.gz; fi
        sudo cpanm --notest Test::Nginx > build.log 2>&1 || (cat build.log && exit 1)
        git clone https://github.com/openresty/openresty.git ../openresty
        git clone https://github.com/openresty/nginx-devel-utils.git
        git clone https://github.com/openresty/lua-cjson.git
        git clone https://github.com/openresty/lua-nginx-module.git ../lua-nginx-module
        git clone https://github.com/openresty/stream-lua-nginx-module.git ../stream-lua-nginx-module
        git clone https://github.com/openresty/lua-resty-core.git ../lua-resty-core
        git clone https://github.com/openresty/lua-resty-lrucache.git ../lua-resty-lrucache
        git clone https://github.com/openresty/echo-nginx-module.git ../echo-nginx-module
        git clone https://github.com/openresty/no-pool-nginx.git ../no-pool-nginx
        git clone -b v2.1-agentzh https://github.com/openresty/luajit2.git

    - name: Build and test
      run: |
        sudo iptables -A OUTPUT -p tcp --dst 127.0.0.2 --dport 12345 -j DROP
        cd luajit2/
        make -j${{ env.JOBS }} CCDEBUG=-g Q= PREFIX=${{ env.LUAJIT_PREFIX }} CC=$CC XCFLAGS='-DLUA_USE_APICHECK -DLUA_USE_ASSERT' > build.log 2>&1 || (cat build.log && exit 1)
        sudo make install PREFIX=${{ env.LUAJIT_PREFIX }} > build.log 2>&1 || (cat build.log && exit 1)
        cd ../lua-cjson && make && sudo PATH=$PATH make install && cd ..
        tar zxf download-cache/openssl-${{ env.OPENSSL_VER }}.tar.gz
        cd openssl-${{ env.OPENSSL_VER }}/
        ./config shared --prefix=${{ env.OPENSSL_PREFIX }} -DPURIFY > build.log 2>&1 || (cat build.log && exit 1)
        make -j${{ env.JOBS }} > build.log 2>&1 || (cat build.log && exit 1)
        sudo make PATH=$PATH install_sw > build.log 2>&1 || (cat build.log && exit 1)
        cd ..
        export PATH=$PWD/work/nginx/sbin:$PWD/nginx-devel-utils:$PATH
        export NGX_BUILD_CC=$CC
        ngx-build ${{ env.NGINX_VERSION }} --with-ipv6 --with-http_realip_module --with-http_ssl_module --with-cc-opt="-I${{ env.OPENSSL_INC }}" --with-ld-opt="-L${{ env.OPENSSL_LIB }} -Wl,-rpath,${{ env.OPENSSL_LIB }}" --add-module=../echo-nginx-module --add-module=../lua-nginx-module --add-module=../stream-lua-nginx-module --with-stream --with-stream_ssl_module --with-debug > build.log 2>&1 || (cat build.log && exit 1)
        nginx -V
        ldd `which nginx`|grep -E 'luajit|ssl|pcre'
        mkdir -p tmp
        TMP_DIR=$PWD/tmp make test_all